<div class="summary">
    <div class="title"> USA Report Summary</div>
    <div class="data-blocks-group">
        <div class="data-blocks">
            <div class="data-blocks-title"> Total Confirmed Cases</div>
            <div class="data-blocks-value">{{ USData.TotalConfirmed }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title"> Total Recovered Cases</div>
            <div class="data-blocks-value">{{ USData.TotalRecovered }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title"> Total Deaths</div>
            <div class="data-blocks-value">{{ USData.TotalDeaths }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title"> New Confirmed Cases</div>
            <div class="data-blocks-value">{{ USData.NewConfirmed }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title"> New Recovered Cases</div>
            <div class="data-blocks-value">{{ USData.NewRecovered }}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title"> New Deaths</div>
            <div class="data-blocks-value">{{ USData.NewDeaths }}</div>
        </div>
    </div>
</div>